PORT=5000
NODE_ENV=production

JWT_SECRET=CHANGE_ME_USE_openssl_rand_hex_64

DB_USER=postgres
DB_PASS=your_strong_password
DB_NAME=your_db_name
DB_HOST=127.0.0.1
DB_PORT=your_db_port
EMAIL_USER=youremail@gmail.com
EMAIL_PASS=your_app_password

REDIS_URL=your_redis_url

FRONTEND_URL=https://idshopcase.com
APP_BASE_URL=https://api.idshopcase.com

DOKU_CLIENT_ID=your_doku_client_id
DOKU_SECRET_KEY=your_doku_secret_key
DOKU_MERCHANT_URL=https://api.doku.com/checkout/v1/payment

JNT_USERNAME=your_jnt_username
JNT_API_KEY_ORDER=your_jnt_api_key_order
JNT_KEY_ORDER=your_jnt_order_key
JNT_KEY_CANCEL=your_jnt_cancel_key
JNT_KEY_TARIFF=your_jnt_tariff_key
JNT_PW_TRACK=your_jnt_track_password
JNT_API_KEY_CANCEL=your_jnt_api_key_cancel

JNT_ORDER_URL=
JNT_CANCEL_URL
JNT_TARIFF_URL=
JNT_TRACK_URL=
JNT_ORIGIN_CODE=CIB

SHIPPER_PHONE=+6281234567890
SHIPPER_ADDRESS=Your warehouse address here

PASS_ADMIN=your_strong_admin_password
